/* CSS Document */

.aboutImage{
	height: 10em;
}

#aboutTable{	
	background-image: url("Images/myBackground.png");
	background-repeat: no-repeat;
	background-size: auto;
}

.aboutDiv{
	text-align: left;
	display:table-row;
}

#Highschool{
	float:left;
	margin-right: 1vw;
}

#Military{
	float:right;
	margin-left: 1vw;
}

#College{
	float:left;	
	margin-right: 1vw;
}

#NUWC{
	float:right;
	margin-left: 1vw;
}

p{
}
