/* Document for CSS specific to page common header */

#header{
	border: thin;
	border-bottom-style: solid;
	border-color: #000000;
	background-color: #333333;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	margin: 0px;
	height: 8vh;
}

.headerTable{
	width: 20%;
	height: 8vh;
	display: inline-table;
	padding: 1px;
	font-color: #ffffff;
}

.headerTD{
	text-align: center;
	border: thin;
	border-right-style: solid;
	border-color: #ffffff;
	font-weight: bold;
	font-color: #ffffff;
}

.headerA{
	font-color: #ffffff;
}

.headerLogo{
	height: 6vh;
	margin-left: 1vh;
	margin-right: 1vh;
}

.logoTable{
	float: right;
	display: inline-table;
	margin-left: 0px;
	padding: 0px;
}

.logoTD{
	text-align: center;
	border: thin;
	border-left-style: solid;
	border-color: #000000;
	
}
