/* Document for CSS specific to page common header */

#header{
	border: thin;
	border-bottom-style: solid;
	border-color: #000000;
	background-color: #808080;
	font-color: #ffffff;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	font-size: 16pt;
	margin: 0px;
	height: 2em;
	padding: 0px;
}

.headerTable{
	width: 20%;
	height: 2em;
	display: inline-table;
	font-color: #ffffff;
}

.headerTD{
	text-align: center;
	border: thin;
	border-right-style: solid;
	border-color: #000000;
	font-weight: bold;
	font-color: #ffffff;
}

.headerA{
	color: #2E3192;
}

.headerLogo{
	height: 1.5em;
	margin-left: 0.25vw;
	margin-right: 0.25vw;
}

.logoTable{
	float: right;
	display: inline-table;
	margin-left: 0px;
	padding: 0px;
}

.logoTD{
	text-align: center;
	border: thin;
	border-left-style: solid;
	border-color: #000000;
	
}
